.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
*.docx
*.doc
*.xls
*.xlsx
*.png
*.sas7bdat
*.html
Lingcod report_03-17/Interview post/
Rockfish report_96-19/Interview post/
Rockfish report_96-19/comp_plots.rds
Rockfish report_96-19/fig_weight.rds
bfg-1.14.0.jar